.home{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    background-position:center ;
    background-repeat:no-repeat ;
    background-size: cover;

}
.headerContainer{
width: auto;
margin-left: 30px;
}
.home.headerContainer{
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home.headerContainer p{
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
}
.headerContainer button{
    background-color:black;
    align-self: center;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 155px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.headerContainer button:hover{
background-color: #070707;
cursor: pointer;
transition: 0.3s ease-in;
}
@media only screen and (max-width:600px){
    .home{
        justify-content: center;
        align-items: center;

    }
    .headerContainer{
        margin-left: 0;
        border-radius: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: transparent;
        color: powderblue;
    }
  .home.headerContainer h1{
    font-size: 40px;
    height: 30px;
    margin: 15px;
    color: white;
  }  
  .home.headerContainer p{
    font-size: 30px;
    color: white;

    
  }
  .headerContainer button{
    background-color: black;
    color: white;
    margin: 30px;

  }
 }